* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.input_inf {
    width: 305px;
    height: 80px;
    font-size: 30px;
    padding: 10px;
    margin: 5px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    border: none;
    text-align: right;
}

.menu_container {
    background-color: #0000009d;
    color: #fff;
    padding: 10px;
    width: 325px;
    margin: 50px auto;
}

.button_contaner {
    display: flex;
}

.numeros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.but-zero {
    grid-column: span 2;
}

.nmero_button {
    background-color: #0000009d;
    color: #fff;
    border: 1px solid #000;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}

.operacao {
    display: flex;
    flex-direction: column;
}

.operacao_button {
    background-color: blue;
    color: #fff;
    border: 1px solid #000;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}